{% load compress %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>{{ FOO }}</title>

  {% compress css %}
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/style2.css" />
  {% endcompress %}

</head>
<body>
  <h1>Hello World!</h1>
    <script src="/static/users/index.js"></script>
</body>
</html>
